.homeCls{
	display: inline-block;
    width: 80%;
    height: 80%;
    margin-left: 200px;

}

.tweetForm{
	width: 500px;
	height: 300px;
	margin: 20px auto 20px 200px;
}

textArea{
	width: 70%;
    margin-left: 20px;
    display: inline-block;
    margin-top: 50px;
}

.tweetForm>button{
	margin-left: 170px;
}

.tweetCls{
	margin: 0 auto;
	border:3px solid green;
	display: inline-block;
	width: 100%;
	height: auto;
}
.tweetList{
	width: 70%;
	height: 60px;
	border:1px solid blue;
	margin:0 auto;
}